* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.language_select {
    position: fixed;
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 90vw;
    background-color: transparent;
    z-index: 2;
}

.language_select a {
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100px;
}

.language_select a span {
    margin: 0 20px;
}

.language_kr:hover .korean,
.language_kr:hover .hover_korean {
    transform: translateX(-100px);
    transition: ease-in 0.4s;
}

.language_kr:not(:hover) .korean,
.language_kr:not(:hover) .hover_korean {
    transition: ease-in 0.25s;
}

.language_eg:hover .english,
.language_eg:hover .hover_english {
    transform: translateX(-90px);
    transition: ease-in 0.4s;
}

.language_eg:not(:hover) .english,
.language_eg:not(:hover) .hover_english {
    transition: ease-in 0.25s;
}

.language_jp:hover .japanese,
.language_jp:hover .hover_japanese {
    transform: translateX(-120px);
    transition: ease-in 0.4s;
}

.language_jp:not(:hover) .japanese,
.language_jp:not(:hover) .hover_japanese {
    transition: ease-in 0.25s;
}


.page_navigate {
    position: fixed;
    background-color: transparent;
    color: #fff;
    z-index: 2;
    top: 40vh;
    right: 10vh;
}

.page_navigate button {
    display: block;
    margin: 20px 0;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

.page_navigate button:after {
    content: '';
    border-bottom: 3px solid #fff;
    transform: scaleX(0);
    transition: transform 2s ease-in-out;
}

.page_navigate button:after:hover {
    transform-origin: 100% 50%;
    transform: scaleX(1);
}

.page1 {
    width: 100%;
    height: 100vh;
    background-color: #171717;
}

.top_text {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 99vw;
    color: #fff;
    font-weight: bold;
    top: 8vh;
    font-size: 1.1em;
}
.page1_main_text{
    position: absolute;
    top: 35vh;
    width: 99vw;
    overflow: hidden;
}
.page1_main_text_container{
    display: flex;
    width: 297vw;
}
.page1_main_text p {
    text-align: center;
    font-size: 8em;
    font-weight: 400;
    width: 99vw; 
    color: #fff;
}
.animate-end{
    animation : endAnimation 1s forwards
}
@keyframes endAnimation{
    0% {transform: translateY(0);}
    50%{transform: translateY(0);}
    75% {transform: translateY(-20);}
    100% {transform: translateY(-40px);}
}
.page1_animation_container{
    position: absolute;
    top: 50vh;
    width: 99vw;
}
.page1_animation_container p{
    animation : addAnimation 5s forwards;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    color: #fff;
    opacity: 0;
}
@keyframes addAnimation{
    0% {opacity: 0;}
    75% {opacity: 0;;}
    100% {opacity: 1;}
}
.cover {
    position: absolute;
    width: 99vw;
    display: flex;
    overflow: hidden;
    top: 80vh;
}

.cover:nth-child(1) {
    rotate: -5deg;
    margin-top: 5vh;
    background-color: transparent;
    font-size: 3em;
}

.cover:nth-child(1):hover {
    background-color: rgb(255, 89, 222);
    transition: ease-in 0.5s;
    z-index: 1;
}

.cover:nth-child(1):not(:hover) {
    transition: ease-out 0.5s;
}

.cover:nth-child(1):hover p {
    color: #fff;
}

.cover:nth-child(2) {
    rotate: 3deg;
    background-color: transparent;
    justify-content: flex-end;
    font-size: 3em;
}

.cover:nth-child(2):hover {
    background-color: rgb(160, 65, 255);
    transition: ease-in 0.5s;
    z-index: 1;
}

.cover:nth-child(2):not(:hover) {
    transition: ease-out 0.5s;
}

.cover:nth-child(2):hover p {
    color: #fff;
}

.cover p {
    display: flex;
    padding-bottom: 20px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    cursor: default;
}

.page2 {
    width: 100%;
    height: 100vh;
}