@font-face {
    font-family: 'fonts';
    src: url('fonts/OpenSans-Regular.ttf')format('truetype');
    font-style: normal;
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'fonts';
    src: url('fonts/NotoSansKR-Regular.ttf')format('truetype');
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: 'fonts';
    src: url('fonts/NotoSansJP-Regular.ttf')format('truetype');
    unicode-range: U+3041-3096, U+309D, U+309E, U+30A1-30FA, U+30FC,U+4E00-9FEA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'fonts';
}

.language_select {
    padding: 10px 0;
    position: fixed;
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 99vw;
    background-color: #171717;
    z-index: 2;
}

.language_select a {
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100px;
}

.language_select a span {
    margin: 0 20px;
}

.circle {
    margin: 3px 10px 0 0;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-radius: 25px;
}

.language_kr:hover .korean,
.language_kr:hover .hover_korean {
    transform: translateX(-100px);
    transition: ease-in 0.4s;
}

.language_kr:not(:hover) .korean,
.language_kr:not(:hover) .hover_korean {
    transition: ease-in 0.25s;
}

.language_eg:hover .english,
.language_eg:hover .hover_english {
    transform: translateX(-90px);
    transition: ease-in 0.4s;
}

.language_eg:not(:hover) .english,
.language_eg:not(:hover) .hover_english {
    transition: ease-in 0.25s;
}

.language_jp:hover .japanese,
.language_jp:hover .hover_japanese {
    transform: translateX(-105px);
    transition: ease-in 0.4s;
}

.language_jp:not(:hover) .japanese,
.language_jp:not(:hover) .hover_japanese {
    transition: ease-in 0.25s;
}


.page_navigate {
    position: fixed;
    background-color: transparent;
    color: #fff;
    top: 34vh;
    right: 2%;
    z-index: 99;
    animation: opacity 6s;
}

@keyframes opacity {

    0%,
    75% {
        transform: translateX(-40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.page_navigate button {
    display: block;
    margin: 20px 0;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.page1 {
    width: 100%;
    height: 100vh;
    background-color: #171717;
}

.top_text {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 99vw;
    color: #fff;
    font-weight: bold;
    top: 8vh;
    font-size: 1.1em;
}

.page1_main_text {
    position: absolute;
    top: 35vh;
    width: 99vw;
    overflow: hidden;
}

.page1_main_text_container {
    width: 99vw;
    height: 20vh;
    cursor: default;
}

.page1_main_text p {
    text-align: center;
    font-size: 8em;
    font-weight: 400;
    color: #fff;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.main_text_1 p,
.main_text_2 p,
.main_text_3 p {
    position: absolute;
    width: 99vw;
    z-index: 4;
}

.main_text_1 p.show,
.main_text_2 p.show,
.main_text_3 p.show {
    opacity: 1;
}

.animate_div {
    background-color: #000;
    display: block;
    position: absolute;
    width: 99vw;
    height: 100vh;
    z-index: 3;
    animation: blockDisplay 5s forwards;
}

@keyframes blockDisplay {

    0%,
    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.animate-end {
    animation: endAnimation 2s forwards
}

@keyframes endAnimation {

    0%,
    25% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-45px);
    }
}

.page1_animation_container {
    position: absolute;
    top: 42vh;
    width: 99vw;
}

.page1_animation_container p {
    animation: addAnimation 5s forwards;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    color: #fff;
    opacity: 0;
}

@keyframes addAnimation {

    0%,
    75% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(60px);
        opacity: 1;
    }
}

.cover {
    position: absolute;
    width: 99vw;
    display: flex;
    overflow: hidden;
    top: 80vh;
}

.cover:nth-child(1) {
    rotate: -5deg;
    margin-top: 5vh;
    background-color: transparent;
    font-size: 3em;
}

.cover:nth-child(1):hover {
    background-color: rgb(255, 89, 222);
    transition: ease-in 0.5s;
    z-index: 1;
}

.cover:nth-child(1):not(:hover) {
    transition: ease-out 0.5s;
}

.cover:nth-child(1):hover p {
    color: #fff;
}

.cover:nth-child(2) {
    rotate: 3deg;
    background-color: transparent;
    justify-content: flex-end;
    font-size: 3em;
}

.cover:nth-child(2):hover {
    background-color: rgb(160, 65, 255);
    transition: ease-in 0.5s;
    z-index: 1;
}

.cover:nth-child(2):not(:hover) {
    transition: ease-out 0.5s;
}

.cover:nth-child(2):hover p {
    color: #fff;
}

.cover p {
    display: flex;
    padding-bottom: 20px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    cursor: default;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: #424242;
}
.profile_name_container{
    position: relative;
    display: flex;
}
.profile_photo{
    width: 150px;
    height: 200px;  
    background-color: #d9d9d9;
}
.profile_name1 p{
    font-size: 2em;
}
.profile_name2{
    font-size: 1em;
}
.profile_name3{ 
    font-size: 1em;
}
.profile_info{
    
}